.files input {
    
    outline: 2px normal #242222;
    background-color:rgb(255, 255, 255);
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 10px 0px  ;
    text-align: center !important;
    margin: 0px;
    width: 100% !important;
}
.files input:focus{     outline: 2px solid #92b0b3;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{
    margin: auto;
    width: 200px;
    height: 150px;
     position:relative;
    background-color: rgb(117, 89, 89);
box-shadow: 5px 5px 5px black;}
     .files:after {  pointer-events: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50px;
        right: 0;
        height: 56px;
        content: "";
        display: block;
        
}
h3{
    color:white
}
button{
    background-color: rgb(155, 27, 27);
  border: none;
  color: rgb(248, 245, 245);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
button:hover{
    background-color: rgb(200, 50, 27);
}


    





